# Data Wrangling & EDA

##### Kimberly Liu & Isaac Tabor

### March Madness Data

**Part 1: What is our data?**

We believe the information and variables highlighted from the following datasets will help us build a simple prediction model:

- *MTeams.csv* and *WTeams.csv* contain **Team ID** and **Team Names**

- *MNCAATourneySeeds.csv* and *WNCAATourneySeeds.csv* contain **tournament seeds since 1984-85 season**. Key to note: We will not know which 68 teams will be in the tournament, or what seeds  are until Selection Sunday on March 16, 2025.

- *MRegularSeasonCompactResults.csv* and *WRegularSeasonCompactResults.csv* contain **Final scores of all regular season, conference tournament, and NCAAÂ® tournament games since 1984-85 season**

- *MSeasons.csv* and *WSeasons.csv* contain **Season-level details including dates and region names**

In the end, we plan to generate our predictions from a machine learning model in format outlined in *SampleSubmissionStage1.csv*

**Part 2: How will these data be useful for studying the phenomenon we're interested in?**

We have collected a large amount of data of historical NCAA basketball games and teams going back many years. We intend to use it to build a machine learning model to predict March Madness outcomes.

We have data on both men's and women's data currently, with files starting with M containing only data pertaining to men's data, and files starting with W containing only women's data (e.g. MCities, WConferences). MTeamSpellings and WTeamSpellings will help us map TeamID to the team.

All of the files are currently complete through January 28th of the current season. This data was compiled into a Kaggle dataset for a March Madness ML competition largely from Kenneth Massey and Jeff Sonas of Sonas Consulting.

**Part 3: What are the challenges we've resolved or expect to face in using them?**

The dataset we downloaded contained over 36 different csv files, each with its own distinction. To minimize the load, we merged essential variables from various files to create one large dataset, saved under <code>'merged_data.csv' </code>

In this dataset, each observation contains information from each game starting from the 2003 season. This includes both regular season and playoff NCAA season games as well. The observations includes results and team box scores, along with other supplementary data that might be contextual and insightful for building our model.

Our data has 119130 observations and 45 variables.

The variables are as follows:
<code> Season, DayNum, WTeamID, WScore, LTeamID, LScore, WLoc, NumOT, WFGM, WFGA, WFGM3, WFGA3, WFTM, WFTA, WOR, WDR, WAst, WTO, WStl, WBlk, WPF, LFGM, LFGA, LFGM3, LFGA3, LFTM, LFTA, LOR, LDR, LAst, LTO, LStl, LBlk, LPF, WTeamName, LTeamName, CRType, CityID, WConf, LConf, W_NET, W_POM, W_RPI, W_USA, W_AP </code>

| Column Name | Data Type | Description                              |
|-------------|-----------|------------------------------------------|
| Season      | Integer   | The year of the season                   |
| DayNum      | Integer   | The day number offset from the season start|
| TeamID     | Integer    | Unique Team identifier for the corresponding team |
| TeamName       | Integer   | Name of corresponding             |
| Score      | Integer    | Score of the corresponding team                |
| NumOT     | Integer   | Number of Overtime periods|
| FGM/FGA      | Integer   | Field Goals Made/Attempted            |
| FGM3/FGA3        | Integer    | 3-pointers Made/Attempted|
| FTM/FTA       | Integer   | Free throws Made/Attempted             |
| OR/DR         | Integer       | Offensive/Defensive Rebounds        |
| Ast       | Integer   | Assists             |
| TO       | Integer   | Turnovers committed             |
| Stl       | Integer   | Steals       |
| Blk       | Integer   | Blocks             |
| PF      | Integer   | Personal Fouls             |
| CRType       | String   | Regular or NCAA or Secondary Game Type            |
| CityID       | Integer   | ID of the city where the game was played             |
| Conf      | String   | Conference of corresponding team            |
| NET/POM/RPI/USA/AP       | Integer   | Ranking of corresponding team from respective source    |




* Variables are denoted by W or L to demonstrate winner or loser of the match

First clone the GitHub repo:

In [3]:
! git clone https://github.com/kimberlyyliuu/DS3001-Project/

fatal: destination path 'DS3001-Project' already exists and is not an empty directory.

Next, load and merge basic data. You may have to adjust to your unique file path:

In [4]:
import pandas as pd
"""#Section 1 """
# MTeams_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MTeams.csv")
MTeams_df = pd.read_csv("/content/DS3001-Project/data/MTeams.csv")

# MSeasons_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MSeasons.csv")
MSeasons_df = pd.read_csv("/content/DS3001-Project/data/MSeasons.csv")

# MTourneySeeds_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MNCAATourneySeeds.csv")
MTourneySeeds_df = pd.read_csv("/content/DS3001-Project/data/MNCAATourneySeeds.csv")

# MRegularSeasonCompactResults_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MRegularSeasonCompactResults.csv")
MRegularSeasonCompactResults_df = pd.read_csv("/content/DS3001-Project/data/MRegularSeasonCompactResults.csv")

""" ## Section 2 """
# MRegularSeasonDetailedResults_df =  pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MRegularSeasonDetailedResults.csv")
MRegularSeasonDetailedResults_df =  pd.read_csv("/content/DS3001-Project/data/MRegularSeasonDetailedResults.csv")

# MNCAATourneyDetailedResults_df =   pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MNCAATourneyDetailedResults.csv")
MNCAATourneyDetailedResults_df =   pd.read_csv("/content/DS3001-Project/data/MNCAATourneyDetailedResults.csv")

# MTeamConferences_df =pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MTeamConferences.csv")
MTeamConferences_df =pd.read_csv("/content/DS3001-Project/data/MTeamConferences.csv")

# MGameCities_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MGameCities.csv")
MGameCities_df = pd.read_csv("/content/DS3001-Project/data/MGameCities.csv")

# MConferenceTourneyGames_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MConferenceTourneyGames.csv")
MConferenceTourneyGames_df = pd.read_csv("/content/DS3001-Project/data/MConferenceTourneyGames.csv")

# df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MMasseyOrdinals.csv")
df = pd.read_csv("/content/DS3001-Project/data/MMasseyOrdinals.csv")

# MNCAATourneySlots_df = pd.read_csv("/Users/kimberlyliu/Downloads/DS 3001/DS3001-Project/data/MNCAATourneySlots.csv")
MNCAATourneySlots_df = pd.read_csv("/content/DS3001-Project/data/MNCAATourneySlots.csv")

In [30]:
len(MTeams_df['TeamID'])

371

In [32]:
WTeams_df = pd.read_csv("/content/DS3001-Project/data/WTeams.csv")
len(WTeams_df['TeamID'])

378

In [5]:
"""## Drop Teams that have not been D1 since 2003 """
MTeams_df = MTeams_df[MTeams_df['LastD1Season'] >= 2003]

""" ## Merge MRegularSeasonDetailedResults with MNCAATourneyDetailedResults"""
merged_df = pd.concat([MRegularSeasonDetailedResults_df, MNCAATourneyDetailedResults_df], ignore_index=True)
# merged_df.sort_values('Season').sort_values('DayNum')

# Showing older games to newest games
merged_df.sort_values(by=['Season', 'DayNum'], ascending=[True, True]) # side note: why is 2003 starting at daynum = 10?

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117743,2025,106,1461,69,1102,62,H,0,25,54,...,23,9,17,2,24,12,8,3,3,24
117744,2025,106,1462,76,1139,63,H,0,29,68,...,23,9,14,4,31,12,20,5,2,12
117745,2025,106,1466,80,1480,62,H,0,28,55,...,18,4,8,6,23,13,13,2,2,18
117746,2025,106,1468,94,1122,68,H,0,36,58,...,32,17,22,7,22,12,10,2,5,17
117747,2025,106,1474,89,1146,72,H,0,28,52,...,23,16,18,5,19,9,15,5,0,17

In [28]:
len(merged_df['WTeamID'].unique())

371

In [6]:
""" Add Team Name for Win and Lose """
merged_df['WTeamName'] = merged_df['WTeamID'].map(MTeams_df.set_index('TeamID')['TeamName'])
merged_df['LTeamName'] = merged_df['LTeamID'].map(MTeams_df.set_index('TeamID')['TeamName'])

""" add game type and city id """
merged_df = merged_df.merge(
    MGameCities_df[['Season', 'DayNum', 'WTeamID', 'LTeamID', 'CRType', 'CityID']],
    on=['Season', 'DayNum', 'WTeamID', 'LTeamID'],
    how='left'
)

merged_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'WTeamName', 'LTeamName', 'CRType', 'CityID'],
      dtype='object')

In [7]:
merged_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LDR,LAst,LTO,LStl,LBlk,LPF,WTeamName,LTeamName,CRType,CityID
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,8,18,9,2,20,Alabama,Oklahoma,NaN,NaN
1,2003,10,1272,70,1393,63,N,0,26,62,...,25,7,12,8,6,16,Memphis,Syracuse,NaN,NaN
2,2003,11,1266,73,1437,61,N,0,24,58,...,22,9,12,2,5,23,Marquette,Villanova,NaN,NaN
3,2003,11,1296,56,1457,50,N,0,18,38,...,20,9,19,4,3,23,N Illinois,Winthrop,NaN,NaN
4,2003,11,1400,77,1208,71,N,0,30,61,...,15,12,10,7,1,14,Texas,Georgia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119125,2024,146,1301,76,1181,64,N,0,28,60,...,27,11,9,4,5,23,NC State,Duke,NCAA,4088.0
119126,2024,146,1345,72,1397,66,N,0,24,53,...,17,17,6,8,4,25,Purdue,Tennessee,NCAA,4098.0
119127,2024,152,1163,86,1104,72,N,0,31,62,...,21,9,7,2,5,15,Connecticut,Alabama,NCAA,4130.0
119128,2024,152,1345,63,1301,50,N,0,22,55,...,22,10,11,8,3,13,Purdue,NC State,NCAA,4130.0
119129,2024,154,1163,75,1345,60,N,0,30,62,...,19,8,9,3,3,15,Connecticut,Purdue,NCAA,4130.0

In [8]:
# Add conferences of winning and losing teams.

""" Merge to bring in the conference abbreviation as ConfAbbrev """
merged_df = merged_df.merge(
    MTeamConferences_df[['Season', 'TeamID', 'ConfAbbrev']],
    left_on=['Season', 'WTeamID'],
    right_on=['Season', 'TeamID'],
    how='left'
)

""" Rename the imported column to WConf and drop the duplicate TeamID column from the merge"""
merged_df.rename(columns={'ConfAbbrev': 'WConf'}, inplace=True)
merged_df.drop(columns=['TeamID'], inplace=True)


""" Merge to bring in the conference abbreviation as ConfAbbrev"""
merged_df = merged_df.merge(
    MTeamConferences_df[['Season', 'TeamID', 'ConfAbbrev']],
    left_on=['Season', 'LTeamID'],
    right_on=['Season', 'TeamID'],
    how='left'
)

merged_df.rename(columns={'ConfAbbrev': 'LConf'}, inplace=True)
merged_df.drop(columns=['TeamID'], inplace=True)

len(merged_df)

119130

In [36]:
merged_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'WTeamName', 'LTeamName', 'CRType', 'CityID', 'WConf', 'LConf'],
      dtype='object')

In [18]:
# Team Season Aggregations

df = merged_df.copy()  # Work on a copy to avoid modifying the original data

# Create a version where each row represents the winning team
df_wins = df.copy()
df_wins["TeamID"] = df_wins["WTeamID"]
df_wins["OpponentID"] = df_wins["LTeamID"]
df_wins["ScoreDiff"] = df_wins["WScore"] - df_wins["LScore"]  # Positive = win margin
df_wins["Win"] = 1  # Mark as a win
df_wins["GameResult"] = "W"

# Create a version where each row represents the losing team
df_losses = df.copy()
df_losses["TeamID"] = df_losses["LTeamID"]
df_losses["OpponentID"] = df_losses["WTeamID"]
df_losses["ScoreDiff"] = df_losses["LScore"] - df_losses["WScore"]  # Negative = loss margin
df_losses["Win"] = 0  # Mark as a loss
df_losses["GameResult"] = "L"

# Combine both win and loss versions into one dataset
df_team_games = pd.concat([df_wins, df_losses])

# Aggregate stats for each team per season
team_season_agg = (
    df_team_games.groupby(["Season", "TeamID"])
    .agg(
        AvgScoreDiff=("ScoreDiff", "mean"),    # Average point difference
        MedianScoreDiff=("ScoreDiff", "median"),
        MinScoreDiff=("ScoreDiff", "min"),
        MaxScoreDiff=("ScoreDiff", "max"),
        Wins=("Win", "sum"),                   # Total wins
        Losses=("GameResult", lambda x: (x == "L").sum()),  # Count losses
        WinPercentage=("Win", "mean"),         # Win rate
        AvgFGM=("WFGM", "mean"),               # Field goals made per game
        AvgFGA=("WFGA", "mean"),               # Field goals attempted per game
        AvgFGPerc=("WFGM", lambda x: x.sum() / x.count()),  # Shooting percentage
        Avg3PM=("WFGM3", "mean"),              # 3-pointers made per game
        Avg3PA=("WFGA3", "mean"),              # 3-pointers attempted per game
        AvgFTM=("WFTM", "mean"),               # Free throws made per game
        AvgFTA=("WFTA", "mean"),               # Free throws attempted per game
        AvgRebounds=("WOR", "mean"),           # Offensive rebounds
        AvgDefRebounds=("WDR", "mean"),        # Defensive rebounds
        AvgAssists=("WAst", "mean"),           # Assists
        AvgTurnovers=("WTO", "mean"),          # Turnovers
        AvgSteals=("WStl", "mean"),            # Steals
        AvgBlocks=("WBlk", "mean"),            # Blocks
        AvgFouls=("WPF", "mean"),              # Fouls committed
    )
    .reset_index()
)

team_season_agg.head() # Preview the aggregated data

,Season,TeamID,AvgScoreDiff,MedianScoreDiff,MinScoreDiff,MaxScoreDiff,Wins,Losses,WinPercentage,AvgFGM,...,Avg3PA,AvgFTM,AvgFTA,AvgRebounds,AvgDefRebounds,AvgAssists,AvgTurnovers,AvgSteals,AvgBlocks,AvgFouls
0,2003,1102,0.250000,-3.0,-32,38,12,16,0.428571,20.821429,...,15.607143,15.035714,21.928571,6.714286,20.714286,13.107143,11.642857,6.035714,2.392857,16.571429
1,2003,1103,0.629630,-2.0,-16,33,13,14,0.481481,28.962963,...,15.481481,18.518519,25.851852,10.111111,22.703704,17.407407,13.666667,6.814815,2.555556,20.222222
2,2003,1104,3.965517,6.0,-19,28,17,12,0.586207,25.275862,...,19.758621,15.310345,21.413793,12.310345,24.689655,13.655172,12.448276,6.586207,4.103448,16.965517
3,2003,1105,-4.884615,-3.5,-42,34,7,19,0.269231,27.692308,...,18.884615,17.230769,25.076923,13.576923,27.000000,16.730769,17.730769,10.500000,3.653846,18.923077
4,2003,1106,-0.142857,-1.0,-26,26,13,15,0.464286,24.500000,...,16.107143,13.928571,20.821429,11.928571,26.250000,13.535714,15.892857,9.107143,3.785714,16.250000

In [33]:
len(team_season_agg['TeamID'].unique())

371